html,body {
    background-image: url("../images/real_cf.png");
    background-repeat: repeat;
    font-family: "Times New Roman", Times, serif;
  }
  
.cyanonwhite {
  color: #4aaaa5;
  background: white;
}

.whiteoncyan {
  color: white;
  background: #4aaaa5;
}

.pagealignment {
  margin-left: 280px;
  Margin-right: 200px;
}

.tabalignment {
  margin-left: 480px;
  Margin-right: 200px;
}

.pagealignment2 {
  margin-left: 450px;
  Margin-right: 200px;
}

a:link {
  color: #4aaaa5;
}

a:visited {
  color: #4aaaa5;
}

a:hover {
  color: blue;
}

a:active {
  color: red;
}  

h1 {
  font-size: 30px;
      
}

h2 {
  font-size: 36px;
}

.myname {
  float: left;
  text-align: center;
  position: relative;
  line-height: 315%;   
}

.selectionbar{
  font-family: sans-serif, "Times New Roman", serif;
  text-align: center;
  margin: 0;
  line-height: 565%;
  width: 100%;
  padding-bottom: 0px;
}

#divider {
  background-color: #cccccc;
  height: 3px;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
}

.introduction {
  color: white;
  font-size: 20px;
  z-index: 100;
}

.paragraphwrapper {
  background-color: white;
  width: 960px;
  padding: 20px;
  margin-top: 50px;
  margin-right: 30px;
  line-height: 200%;
}

.paragraphtitle {
  color: #4aaaa5;
  background: white;
  line-height: 200%;
  font-size: 28px;
}

.portrait {
  float: left;
  padding-right: 20px;
}

.introduction {
  color: black;
}

#footerline {
  background-color: #4aaaa5;
  height: 8px;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2000;
}

.footerbox {
  background-color: darkslategrey;
  height: 80px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2000;
}

#copyright {
  text-align: center;
  color: lightgray;
}

.submitbutton {
  width: 100px;
  text-align: center;
  line height: 120%;
}

.contactform {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 150%;
}

.imagewrapper {
  height: 950px;
  width: 700px;
  margin-left: 300px;
  background-color: white;
  margin: 0 auto;
}

.column {
  margin: 15px 15px 0px 15px;
  float: left;
  width: 300px;
}

.column img {
  width: 100%;
  height: auto;
  z-index: 0;
}

.desc {
  font-size: 24px;
  line-height: 250%;
  width: 300px;
  text-align: center;
  position: relative;
  top: -80px;
  z-index: 1000;
}
input {
  width: 99%;
}
